<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapandilla</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/base.css'%}">

</head>
<body>
    <!-- Header layout -->
    <nav class="product-filter">
    
        <h1>Zapandillas</h1>
        
        <div class="sort">

            <div class="collection-sort">
                <label for="">Filtrar por:</label>
                <select name="" id="">
                    <option value="/">
                        Seleccionar
                    </option>
                    <option value="/">
                        Marca
                    </option>
                </select>
            </div>

            <div class="collection-sort">
                <label for="">Ordenar por:</label>
                <select name="" id="">
                    <option value="/">
                        Seleccionar
                    </option>
                    <option value="/">
                        Marca A - Z
                    </option>
                    <option value="/">
                        Precio menos a mayor
                    </option>
                </select>
            </div>

        </div>

    </nav>
    
    
    {% block content %}
        
    {% endblock %}
        
    <footer class="footer">
        No footer here
    </footer>
</body>
</html>