<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapandilla</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/css/base.css'%}">

</head>
<body>
    <!-- Header layout -->
    <nav class="product-filter">
    
        <h1>Zapandillas</h1>
        
        <div class="sort">

            <div class="collection-sort">
                <label for="">Filtrar por:</label>
                <select name="" id="">
                    <option value="/">
                        Seleccionar
                    </option>
                    <option value="/">
                        Marca
                    </option>
                </select>
            </div>

            <div class="collection-sort">
                <label for="">Ordenar por:</label>
                <select name="" id="">
                    <option value="/">
                        Seleccionar
                    </option>
                    <option value="/">
                        Marca A - Z
                    </option>
                    <option value="/">
                        Precio menos a mayor
                    </option>
                </select>
            </div>

        </div>

    </nav>
    
    <section class="products">

        <!-- Products -->
        <div class="product-card">
          <div class="product-image">
            <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
          </div>
          <div class="product-info">
            <h5>Winter Jacket</h5>
            <h6>$99.99</h6>
          </div>
        </div>
        <div class="product-card">
            <div class="product-image">
              <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
            </div>
            <div class="product-info">
              <h5>Winter Jacket</h5>
              <h6>$99.99</h6>
            </div>
          </div>
          <div class="product-card">
            <div class="product-image">
              <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
            </div>
            <div class="product-info">
              <h5>Winter Jacket</h5>
              <h6>$99.99</h6>
            </div>
          </div>
          <div class="product-card">
            <div class="product-image">
              <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
            </div>
            <div class="product-info">
              <h5>Winter Jacket</h5>
              <h6>$99.99</h6>
            </div>
          </div>
          <div class="product-card">
            <div class="product-image">
              <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
            </div>
            <div class="product-info">
              <h5>Winter Jacket</h5>
              <h6>$99.99</h6>
            </div>
          </div>
        <!-- End products-->
            <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->
      
                <div class="product-card">
                    <div class="product-image">
                      <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
                    </div>
                    <div class="product-info">
                      <h5>Winter Jacket</h5>
                      <h6>$99.99</h6>
                    </div>
                  </div>
                  <div class="product-card">
                      <div class="product-image">
                        <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
                      </div>
                      <div class="product-info">
                        <h5>Winter Jacket</h5>
                        <h6>$99.99</h6>
                      </div>
                    </div>
                    <div class="product-card">
                      <div class="product-image">
                        <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
                      </div>
                      <div class="product-info">
                        <h5>Winter Jacket</h5>
                        <h6>$99.99</h6>
                      </div>
                    </div>
                    <div class="product-card">
                      <div class="product-image">
                        <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
                      </div>
                      <div class="product-info">
                        <h5>Winter Jacket</h5>
                        <h6>$99.99</h6>
                      </div>
                    </div>
                    <div class="product-card">
                      <div class="product-image">
                        <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_1024x1024.jpeg?v=1445623369">
                      </div>
                      <div class="product-info">
                        <h5>Winter Jacket</h5>
                        <h6>$99.99</h6>
                      </div>
                    </div>
                <!--end products-->
                
      
      </section>
    <footer class="footer">
        No footer here
    </footer>
</body>
</html>