{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}

<section class="products">

    <!-- Products -->
  {% for zapa in zapatilla_list  %}
    <div class="product-card">
      
      <div class="product-image">
        <img src="{{zapa.image}}" />
      </div>
      
      <div class="product-info">
        <h5>{{zapa.description}}</h5>
        <h6>{{zapa.price}}</h6>
      </div>
    
    </div>
    
  {% endfor %}
</section> 

<!-- Menú de paginación -->
{% if is_paginated %}

    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li>
          <a href="#" tabindex="-1">&laquo;</a>
        </li>
      {% endif %}
      {% for i in paginator.page_range %}
        <li class="{% if page_obj.number == i %}current{% endif %}">
          <a href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li>
          <a href="#" tabindex="-1">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  
{% endif %}

{% endblock %}
    
    